/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.apk
*.apk
public/aplicaciones/youtube/youtube-stable-revanced-extended-v18.15.40-all.apk
public/aplicaciones/youtube/VancedMicroG-v0.2.24.220220-220220001.apk
public/aplicaciones/youtube/ReVanced-YouTube-v18.03.36-cli_v2.20.0-patches_v2.158.0.apk
public/aplicaciones/youtube/microg.apk
